# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python bytecode and cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
.env/
.envrc

# Editor and IDE folders
.idea/
.vscode/
*.swp
*.swo

# Logs and temporary files
*.log
.cache/
*.bak
*.tmp

# Local configuration files
*.local
